progetto.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>804969ed-0188-1000-aff4-55e4e1ff5644</groupId>
    <name>Progetto</name>
    <snippet>
        <processGroups>
            <id>5979fac9-fa29-3bb2-0000-000000000000</id>
            <parentGroupId>316c6c46-bdb5-3470-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <processGroups>
                    <id>24632599-cf6b-3832-0000-000000000000</id>
                    <parentGroupId>5979fac9-fa29-3bb2-0000-000000000000</parentGroupId>
                    <position>
                        <x>328.0</x>
                        <y>40.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>284992ff-0a33-322b-0000-000000000000</id>
                            <parentGroupId>24632599-cf6b-3832-0000-000000000000</parentGroupId>
                            <versionedComponentId>7689d202-b7c4-35fc-a3a1-9c61823e1d5c</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>24632599-cf6b-3832-0000-000000000000</groupId>
<id>12b46ec3-2904-3fd0-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>9b694fd4-bcab-328e-94a6-46128ae877d0</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>24632599-cf6b-3832-0000-000000000000</groupId>
<id>e4ac5c1a-3933-32ea-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>b6d32776-a7e5-33df-ba08-e83af963c6f5</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>6cbafdd8-3eaf-307d-0000-000000000000</id>
                            <parentGroupId>24632599-cf6b-3832-0000-000000000000</parentGroupId>
                            <versionedComponentId>cfd76b70-a66d-3329-bbb0-20dfdf8a7aad</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>24632599-cf6b-3832-0000-000000000000</groupId>
<id>566c7920-bbb1-3378-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>0bafd7a3-b7d5-3332-bd6e-794f2f36280a</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>24632599-cf6b-3832-0000-000000000000</groupId>
<id>021ba37f-58c8-3e97-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>c16a880b-0cb6-39f6-b1a1-3f13681d5cf0</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>a22429cf-af2c-3f19-0000-000000000000</id>
                            <parentGroupId>24632599-cf6b-3832-0000-000000000000</parentGroupId>
                            <versionedComponentId>fbd32d67-5e01-3da2-9523-fb1a67e27ac3</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>24632599-cf6b-3832-0000-000000000000</groupId>
<id>e4ac5c1a-3933-32ea-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>b6d32776-a7e5-33df-ba08-e83af963c6f5</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>splits</selectedRelationships>
                            <source>
<groupId>24632599-cf6b-3832-0000-000000000000</groupId>
<id>566c7920-bbb1-3378-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>0bafd7a3-b7d5-3332-bd6e-794f2f36280a</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <outputPorts>
                            <id>12b46ec3-2904-3fd0-0000-000000000000</id>
                            <parentGroupId>24632599-cf6b-3832-0000-000000000000</parentGroupId>
                            <position>
<x>496.0</x>
<y>592.0</y>
                            </position>
                            <versionedComponentId>9b694fd4-bcab-328e-94a6-46128ae877d0</versionedComponentId>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Posts</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                            <validationErrors>'Port 'Posts'' is invalid because Port has no outgoing connections</validationErrors>
                        </outputPorts>
                        <processors>
                            <id>021ba37f-58c8-3e97-0000-000000000000</id>
                            <parentGroupId>24632599-cf6b-3832-0000-000000000000</parentGroupId>
                            <position>
<x>448.0</x>
<y>-24.0</y>
                            </position>
                            <versionedComponentId>c16a880b-0cb6-39f6-b1a1-3f13681d5cf0</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.16.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Command</key>
        <value>
            <name>Command</name>
        </value>
    </entry>
    <entry>
        <key>Command Arguments</key>
        <value>
            <name>Command Arguments</name>
        </value>
    </entry>
    <entry>
        <key>Batch Duration</key>
        <value>
            <name>Batch Duration</name>
        </value>
    </entry>
    <entry>
        <key>Redirect Error Stream</key>
        <value>
            <name>Redirect Error Stream</name>
        </value>
    </entry>
    <entry>
        <key>Working Directory</key>
        <value>
            <name>Working Directory</name>
        </value>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value>
            <name>Argument Delimiter</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Command</key>
        <value>python3</value>
    </entry>
    <entry>
        <key>Command Arguments</key>
        <value>/home/cint/esercitazione/CVE_Listener/CVEDetailsScaper.py -smin 0 -smax 6 -m 02 -y 2023</value>
    </entry>
    <entry>
        <key>Batch Duration</key>
        <value>5secs</value>
    </entry>
    <entry>
        <key>Redirect Error Stream</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Working Directory</key>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value> </value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>RedditStreamListener</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ExecuteProcess</type>
                        </processors>
                        <processors>
                            <id>566c7920-bbb1-3378-0000-000000000000</id>
                            <parentGroupId>24632599-cf6b-3832-0000-000000000000</parentGroupId>
                            <position>
<x>444.000007681828</x>
<y>187.49998922324596</y>
                            </position>
                            <versionedComponentId>0bafd7a3-b7d5-3332-bd6e-794f2f36280a</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.16.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Byte Sequence Format</key>
        <value>
            <name>Byte Sequence Format</name>
        </value>
    </entry>
    <entry>
        <key>Byte Sequence</key>
        <value>
            <name>Byte Sequence</name>
        </value>
    </entry>
    <entry>
        <key>Keep Byte Sequence</key>
        <value>
            <name>Keep Byte Sequence</name>
        </value>
    </entry>
    <entry>
        <key>Byte Sequence Location</key>
        <value>
            <name>Byte Sequence Location</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Byte Sequence Format</key>
        <value>Text</value>
    </entry>
    <entry>
        <key>Byte Sequence</key>
        <value>
</value>
    </entry>
    <entry>
        <key>Keep Byte Sequence</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Byte Sequence Location</key>
        <value>Trailing</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>SplitContent</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>splits</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.SplitContent</type>
                        </processors>
                        <processors>
                            <id>e4ac5c1a-3933-32ea-0000-000000000000</id>
                            <parentGroupId>24632599-cf6b-3832-0000-000000000000</parentGroupId>
                            <position>
<x>444.000007681828</x>
<y>387.49998922324596</y>
                            </position>
                            <versionedComponentId>b6d32776-a7e5-33df-ba08-e83af963c6f5</versionedComponentId>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.16.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>filename</key>
        <value>
            <name>filename</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>filename</key>
        <value>reddit_${now():toNumber()}_${nextInt()}.json</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>UpdateAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>CVEListenerProcessor</name>
                    <variables/>
                </processGroups>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Progetto</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>07/09/2023 22:33:18 GMT</timestamp>
</template>
